<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {# {{ encore_entry_link_tags('app') }} #}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" 
            integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
            <link rel="stylesheet" href="/build/app.css">

        {% endblock %}

        {% block javascripts %}
            {# {{ encore_entry_script_tags('app') }} #}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body class="backgroundMain" id="main">
        {% block body %}{% endblock %}

        <style>
.parent {
display: grid;
grid-template-columns: repeat(4, 1fr) 0;
grid-template-rows: repeat(4, 1fr) 0;
grid-column-gap: 0px;
grid-row-gap: 0px;
text-align:center;
}

.parent div {
    border: 1px solid #000000;
}

a , a:visited{
  text-decoration : none ;
  color : green ;
}



.div1 { grid-area: 1 / 1 / 2 / 5; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 3 / 1 / 4 / 2; }
.div4 { grid-area: 4 / 1 / 5 / 2; }
.div5 { grid-area: 2 / 2 / 3 / 3; }
.div6 { grid-area: 3 / 2 / 4 / 3; }
.div7 { grid-area: 4 / 2 / 5 / 3; }
.div8 { grid-area: 2 / 3 / 3 / 4; }
.div9 { grid-area: 3 / 3 / 4 / 4; }
.div10 { grid-area: 4 / 3 / 5 / 4; }
.div11 { grid-area: 2 / 4 / 3 / 5; }
.div12 { grid-area: 3 / 4 / 4 / 5; }
.div13 { grid-area: 4 / 4 / 5 / 5; }
<style>
    </body>
</html>
